.title {
  font-size: large;
  font-weight: bold;
}
.cowpic {
  border: 2px solid tomato;
  position: static;
}
.allOrgans {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.dragText {
  padding: 10px;
  border: 2px solid tomato;
  background-color: tomato;
  color: white;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  font-weight: bold;
}

.dragText:hover {
  border: 2px solid tomato;
  background-color: white;
  color: tomato;
  cursor: pointer;
}

.checkDiv {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 5vw;
}

.checkDiv:hover {
  cursor: pointer;
}

.checkText {
  padding: 10px;
  border: 2px solid tomato;
  color: white;
  background-color: tomato;
  border-radius: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 5vw;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}

.checkText:hover {
  border: 2px solid tomato;
  color: tomato;
  background-color: white;
  cursor: pointer;
}

.dropArea {
  display: flex;
  position: absolute;
  top: 17%;
  left: 9%;
  width: 25vw;
  height: 7vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.dropArea2 {
  display: flex;
  position: absolute;
  top: 24%;
  left: 9%;
  width: 25vw;
  height: 8vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.dropArea3 {
  display: flex;
  position: absolute;
  top: 40%;
  left: 10.5%;
  width: 25vw;
  height: 10vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.dropArea4 {
  display: flex;
  position: absolute;
  top: 19%;
  left: 55%;
  padding: 10px;
  margin: 10px;
  width: 25vw;
  height: 10vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.dropArea5 {
  display: flex;
  position: absolute;
  top: 44%;
  left: 54.5%;
  width: 25vw;
  height: 10vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.DropAreas {
  border: 2px solid tomato;
  width: 7vw;
  height: 5vw;
  margin: auto;
}

.Labels {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.winDiv {
  width: 25vw;
  display: flex;
  height: 25vh;
  position: absolute;
  top: 15%;
  left: 35%;
  border: 2px solid black;
  border-radius: 25px;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  font-size: large;
}

.cowEmoji {
  transform: scale(3.5);
}
